@font-face {
    font-family: 'Visitor Font Small';
    src: url('Visitor-Font-Small.eot');
    src: url('Visitor-Font-Small.eot?#iefix') format('embedded-opentype'),
        url('Visitor-Font-Small.woff2') format('woff2'),
        url('Visitor-Font-Small.woff') format('woff'),
        url('Visitor-Font-Small.ttf') format('truetype'),
        url('Visitor-Font-Small.svg#Visitor-Font-Small') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Visitor Ability Text';
    src: url('Visitor-Ability-Text.eot');
    src: url('Visitor-Ability-Text.eot?#iefix') format('embedded-opentype'),
        url('Visitor-Ability-Text.woff2') format('woff2'),
        url('Visitor-Ability-Text.woff') format('woff'),
        url('Visitor-Ability-Text.ttf') format('truetype'),
        url('Visitor-Ability-Text.svg#Visitor-Ability-Text') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frijole';
    src: url('Frijole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larke Sans';
    src: url('Larke-Sans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
